backend/staticfiles
backend/build
backend/backend/__pycache__
backend/blockchain/ca
backend/blockchain/config/configtx.yaml
backend/blockchain/fabric-ca
backend/blockchain/msp
backend/blockchain/peers
backend/blockchain/orderers
backend/blockchain/tlsca
backend/blockchain/users
backend/blockchain/fabric
backend/blockchain/channels
backend/blockchain/fabric-ca-client-config.yaml
backend/blockchain/bisce-network-ca.json
backend/blockchain/bisce.tar.gz
frontend/node_modules
frontend/build
